/*---------------------------*/
* {
  scroll-behavior: smooth;
  margin: 0;
  font-size: 100%;
  font-weight: 400;
  text-decoration: none;
}

html {
  font-size: 15px;
}

.text {
  font-family: Arial;
  line-height: 160%;
}

.title {
  font-family: Georgia;
  font-size: 2.33rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.link {
  font-family: Georgia;
  font-size: 1.13rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #f1cdb3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  background: #fddcc4;
}

.header-hero {
  height: 908px;
  background: url(./img/start-screen-gradient-background.png);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
  padding: 0 40px;
}

.header {
  display: -ms-grid;
  display: grid;
  justify-items: unset;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.header-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: #f1cdb3;
}

.header-subtitle {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  color: #ffffff;
  line-height: 15px;
  letter-spacing: 0.1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-link {
  color: #cdcdcd;
}

.header .nav-link__border {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.header .nav-link__border:hover {
  color: #cdcdcd;
}

.header .nav-link:hover {
  color: #fafafa;
}

.header .nav-link:active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

.hero-container {
  max-width: 460px;
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
  -ms-grid-row-align: center;
      align-self: center;
}

.hero-container__title {
  color: #ffffff;
  max-width: 310px;
}

.hero-container__text {
  color: #cdcdcd;
}

.hero-image {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.about {
  background: #ffffff;
  height: 588px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5em 1fr 1fr 5em;
      grid-template-columns: 5em 1fr 1fr 5em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.about-container {
  max-width: 430px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -ms-grid;
  display: grid;
  row-gap: 25px;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.about-container__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  max-width: 350px;
}

.about-container__text {
  color: #4c4c4c;
}

.about-container__text-1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.about-container__text-2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.pets {
  height: 877px;
  background: #f6f6f6;
  display: -ms-grid;
  display: grid;
  padding: 80px 0 100px;
  -ms-grid-columns: 145px 1fr 145px;
      grid-template-columns: 145px 1fr 145px;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-title {
  text-align: center;
  max-width: 400px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.pets-card {
  border-radius: 9px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 270px;
  height: 435px;
  background: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  row-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.pets-card:hover {
  background: #ffffff;
}

.pets-card__first {
  -ms-grid-column-align: start;
      justify-self: start;
}

.pets-card__last {
  -ms-grid-column-align: end;
      justify-self: end;
}

.pets-card__name {
  font-size: 1.33rem;
}

.pets-card__link {
  background: none;
  border: 2px solid #fddcc4;
}

.pets-card__link:hover {
  background: #fddcc4;
}

.pets-button {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  width: 52px;
  height: 52px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pets-button__previous {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background: none;
}

.pets-button__next {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  background: none;
}

.pets-button:hover {
  background: #f1cdb3;
}

.pets-link {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 261px;
  height: 52px;
}

.help {
  background: #ffffff;
  padding: 80px 0 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4em 1fr 4em;
      grid-template-columns: 4em 1fr 4em;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  row-gap: 80px;
  justify-items: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.help-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  max-width: 310px;
  text-align: center;
}

.help-container {
  width: 100%;
  height: 350px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.help-card {
  height: 113px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  row-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-card__title {
  font-size: 1.33rem;
  text-align: center;
}

.help-card__icon {
  -ms-grid-column-align: center;
      justify-self: center;
}

.help-card-first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  justify-items: unset;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.help-card-second {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  justify-items: unset;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.help-card-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.help-card-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.help-card-3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.help-card-4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
}

.help-card-5 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9 / 10;
}

.help-card-6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.help-card-7 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.help-card-8 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

.help-card-9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
}

.donation {
  height: 464px;
  background: #f6f6f6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5em 1fr 1fr 5em;
      grid-template-columns: 5em 1fr 1fr 5em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation-image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.donation-container {
  max-width: 380px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  row-gap: 20px;
}

.donation-container__title {
  max-width: 300px;
}

.donation-container__subtitle {
  font-size: 1rem;
}

.donation-container__card {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation-container__card-number {
  font-size: 1.33rem;
}

.donation-container__text {
  color: #b2b2bb;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 18px;
}
/*# sourceMappingURL=style.css.map */