/*---------------------------*/
* {
  scroll-behavior: smooth;
  margin: 0;
  font-size: 100%;
  font-weight: 400;
  text-decoration: none;
}

html {
  font-size: 15px;
}

.text {
  font-family: Arial;
  line-height: 160%;
}

.title {
  font-family: Georgia;
  font-size: 2.33rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.link {
  font-family: Georgia;
  font-size: 1.13rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #f1cdb3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  background: #fafafa;
}

.header-hero {
  height: 908px;
  background: url(./img/start-screen-gradient-background.png);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
  padding: 0 40px;
}

.header {
  display: -ms-grid;
  display: grid;
  justify-items: unset;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.header-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: #f1cdb3;
}

.header-subtitle {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  color: #ffffff;
  line-height: 15px;
  letter-spacing: 0.1em;
  -ms-grid-column-align: unset;
      justify-self: unset;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-column-align: items;
      justify-self: items;
  -ms-grid-row-align: end;
      align-self: end;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-link {
  color: #cdcdcd;
}

.header .nav-link__border {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.header .nav-link__border:hover {
  color: #cdcdcd;
}

.header .nav-link:hover {
  color: #fafafa;
}

.header .nav-link:active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

.hero-container {
  max-width: 460px;
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row-align: center;
      align-self: center;
}

.hero-container__title {
  color: #ffffff;
  max-width: 310px;
}

.hero-container__text {
  color: #cdcdcd;
}

.hero-image {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
/*# sourceMappingURL=style.css.map */