$color-primary: #4c4c4c;
$color-secondary: #545454;
$color-tertiary: #cdcdcd;
$color-quaternary: #f1cdb3;
$color-quinary: #fafafa;
$color-sixfold: #ffffff;
$font-color-link: #292929;
$link-hover: #fddcc4;
$bg-primary: #ffffff;
$bg-secondary: #f6f6f6;

/*---------------------------*/

* {
    scroll-behavior: smooth;
    margin: 0;
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
}

html {
    font-size: 15px;
}

@mixin transist {
    transition: all 0.3s ease;
}

.text {
    font-family: Arial;
    line-height: 160%;
}

.title {
    font-family: Georgia;
    font-size: 2.33rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-secondary;
}

.link {
    font-family: Georgia;
    font-size: 1.13rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $font-color-link;
    background: $color-quaternary;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    display: grid;
    text-align: center;
    align-items: center;
    @include transist;

    &:hover {
        background: $link-hover;
    }
}

@mixin items($jitems, $aitems) {
    justify-items: $jitems;
    align-items: $aitems;
}

.header-hero {
    height: 908px;
    background: url(./img/start-screen-gradient-background.png);
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 0 40px;
}

.header {
    display: grid;
    @include items(unset, end);
    grid-row: 1 / 2;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    &-logo {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        color: $color-quaternary;
    }

    &-subtitle {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        color: $color-sixfold;
        line-height: 15px;
        letter-spacing: 0.1em;
        align-self: center;
    }

    .nav {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include items(center, center);

        &-link {
            color: $color-tertiary;

            &__border {
                color: $color-quinary;
                border-bottom: 3px solid $color-quaternary;

                &:hover {
                    color: $color-tertiary;
                }
            }

            &:hover {
                color: $color-quinary;
            }

            &:active {
                color: $color-quinary;
                border-bottom: 3px solid $color-quaternary;
            }
        }
    }
}

.hero {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 1fr auto;

    &-container {
        max-width: 460px;
        display: grid;
        row-gap: 30px;
        align-self: center;

        &__title {
            color: $color-sixfold;
            max-width: 310px;
        }

        &__text {
            color: $color-tertiary;
        }
    }

    &-image {
        align-self: end;
    }
}

.about {
    background: $bg-primary;
    height: 588px;
    display: grid;
    grid-template-columns: 5em 1fr 1fr 5em;
    @include items(center, center);

    &-image {
        grid-column: 2 / 3;
    }

    &-container {
        max-width: 430px;
        grid-column: 3 / 4;
        display: grid;
        row-gap: 25px;
        grid-template-rows: repeat(3, auto);

        &__title {
            grid-row: 1 / 2;
            max-width: 350px;
        }

        &__text {
            color: $color-primary;

            &-1 {
                grid-row: 2 / 3;
            }

            &-2 {
                grid-row: 3 / 4;
            }
        }
    }
}

.pets {
    height: 877px;
    background: $bg-secondary;
    display: grid;
    padding: 80px 0 100px;
    grid-template-columns: 145px 1fr 145px;
    grid-template-rows: repeat(3, auto);
    @include items(center, center);

    &-title {
        text-align: center;
        max-width: 400px;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    &-card {
        border-radius: 9px;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        width: 270px;
        height: 435px;
        background: $color-quinary;
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 30px;
        @include items(center, center);
        padding-bottom: 30px;
        align-content: space-between;

        &:hover {
            background: $color-sixfold;
        }

        &__first {
            justify-self: start;
        }

        &__last {
            justify-self: end;
        }

        &__name {
            font-size: 1.33rem;
        }

        &__link {
            background: none;
            border: 2px solid $link-hover;

            &:hover {
                background: $link-hover;
            }
        }
    }

    &-button {
        border-radius: 100px;
        border: 2px solid $color-quaternary;
        cursor: pointer;
        width: 52px;
        height: 52px;
        display: grid;
        @include items(center, center);
        @include transist();

        &__previous {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            background: none;
        }

        &__next {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
            background: none;
        }

        &:hover {
            background: $color-quaternary;
        }
    }

    &-link {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 261px;
        height: 52px;
    }
}

.help {
    background: $bg-primary;
    padding: 80px 0 100px;
    display: grid;
    grid-template-columns: 4em 1fr 4em;
    grid-template-rows: auto 1fr;
    row-gap: 80px;
    @include items(center, unset);

    &-title {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        max-width: 310px;
        text-align: center;
    }

    &-container {
        width: 100%;
        height: 350px;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(9, 1fr);
        @include items(center, unset);
    }

    &-card {
        height: 113px;
        display: grid;
        grid-template-rows: repeat(2, auto);
        row-gap: 30px;
        @include items(center, center);
        justify-content: center;

        &__title {
            font-size: 1.33rem;
            text-align: center;
        }

        &__icon {
            justify-self: center;
        }

        &-first {
            grid-row: 1 / 2;
            @include items(unset, start);
        }

        &-second {
            grid-row: 2 / 3;
            @include items(unset, end);
        }

        &-1 {
            grid-column: 1 / 2;
        }
        &-2 {
            grid-column: 3 / 4;
        }
        &-3 {
            grid-column: 5 / 6;
        }
        &-4 {
            grid-column: 7 / 8;
        }
        &-5 {
            grid-column: 9 / 10;
        }

        &-6 {
            grid-column: 2 / 3;
        }
        &-7 {
            grid-column: 4 / 5;
        }
        &-8 {
            grid-column: 6 / 7;
        }
        &-9 {
            grid-column: 8 / 9;
        }
    }
}

.donation {
    height: 464px;
    background: $bg-secondary;
    display: grid;
    grid-template-columns: 5em 1fr 1fr 5em;
    @include items(center, center);

    &-image {
        grid-column: 2 / 3;
    }

    &-container {
        max-width: 380px;
        display: grid;
        grid-template-rows: repeat(4, auto);
        row-gap: 20px;

        &__title {
            max-width: 300px;
        }

        &__subtitle {
            font-size: 1rem;
        }

        &__card {
            width: 349px;
            height: 43px;
            background: $color-quaternary;
            border-radius: 9px;
            padding: 0 15px;
            display: grid;
            grid-template-columns: repeat(2, auto);
            @include items(center, center);

            &-number {
                font-size: 1.33rem;
            }
        }

        &__text {
            color: #b2b2bb;
            font-style: italic;
            font-size: 0.8rem;
            line-height: 18px;
        }
    }
}

.footer {
    height: 350px;
    background: url(./img/footer-gradient-background.png);
    background-size: cover;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    @include items(unset, start);

    &-container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        max-width: 305px;
        height: 234px;
        margin-top: 56px;
        align-content: space-between;

        &__title {
            color: $color-sixfold;
        }

        &__card {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 20px;
            @include items(start, center);

            &-subtitle {
                color: $color-quaternary;
                font-size: 1.33rem;
            }

            &-1 {
                width: 251px;
            }
            &-2 {
                width: 239px;
            }
            &-3 {
                width: 302px;
            }
            &-4 {
                width: 270px;
            }
        }
    }

    &-image {
        align-self: end;
        justify-self: end;
    }
}
