@media (max-width: 1000px) {
  .header-hero {
    padding-left: 50px;
    -ms-grid-rows: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
    height: 600px;
  }
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .header-subtitle {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .header .nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .hero-container {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-bottom: 50px;
  }
  .hero-image {
    width: 300px;
    height: 350px;
  }
  .about {
    padding: 100px 10px;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    row-gap: 30px;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .about-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .pets {
    -ms-grid-columns: 52px auto 52px;
        grid-template-columns: 52px auto 52px;
    height: 1800px;
  }
  .pets-card {
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pets-card__first {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column-align: unset;
        justify-self: unset;
  }
  .pets-card__middle {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .pets-card__last {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column-align: unset;
        justify-self: unset;
  }
  .pets-button__previous {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .pets-button__previous-1 {
    display: unset;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .pets-button__previous-2 {
    display: unset;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .pets-button__previous-3 {
    display: unset;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .pets-button__next {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .pets-button__next-1 {
    display: unset;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .pets-button__next-2 {
    display: unset;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .pets-button__next-3 {
    display: unset;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .pets-link {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
  .help {
    min-height: 620px;
    -ms-grid-columns: 2em 1fr 2em;
        grid-template-columns: 2em 1fr 2em;
  }
  .help-container {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
  .help-card-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .help-card-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .help-card-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .help-card-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .help-card-5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .help-card-6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .help-card-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .help-card-8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .help-card-9 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .donation {
    padding: 50px 0 80px;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation-image {
    width: 320px;
  }
  .donation-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .footer {
    -ms-grid-columns: 2em 1fr 1fr 2em;
        grid-template-columns: 2em 1fr 1fr 2em;
    padding: 0;
    row-gap: 50px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer-container__title {
    font-size: 2rem;
  }
  .footer-container-1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .footer-container-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .footer-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-column-align: unset;
        justify-self: unset;
  }
}

@media (max-width: 600px) {
  .header-hero {
    height: 950px;
    row-gap: 80px;
  }
  .header {
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
  .header .nav {
    margin-top: 25px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
    max-width: 320px;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    justify-items: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    row-gap: 50px;
  }
  .hero-container {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    margin: 0;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 310px;
    row-gap: 15px;
  }
  .footer {
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    justify-items: unset;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .footer-container {
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
  }
  .footer-container-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .footer-container-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .footer-image {
    margin-top: 20px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 15.5px;
  }
  .header-hero {
    padding: 0 10px;
  }
  .pets-card {
    max-width: 215px;
  }
  .pets-card__image {
    width: 215px;
  }
  .pets-link {
    width: 215px;
  }
  .help {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .help-card__title {
    font-size: 1.11rem;
  }
}
/*# sourceMappingURL=media.css.map */